/* 清除默认边距，加入桌布 */
body {
  margin: 0;
  background-image: url("../images/RollingWaves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}


/* 状态栏外框 */
.statusbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    padding: 0 25px;
    gap: 8px;

    height: 40px;
    margin: 5px 5px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.85);
}

/* 状态栏分组 - 左 */
.left-group {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-right: auto;
}


/* 状态栏内小星星 */
.star {
    position: relative;
    cursor: pointer;

    z-index: 1;

    color: #FFF;
    font-size: 30px;
}

.star::after {
    content: "";
    position: absolute;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(100, 100, 100, 0.3);
    z-index: -1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0;
    transition: opacity 0.2s ease;
}

.star:hover::after {
    opacity: 1;
}


/* 状态栏左上角两行字 */
.left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    font-family: ui-sans-serif, system-ui;
}

.left-info .line1 {
    font-size: 10px;
    opacity: 0.75;
}

.left-info .line2 {
    font-size: 15px;
    font-weight: 400;
}

/* 状态栏分组 - 中 */
.center-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 6px;


}

/* 实时数据组件 - 背景 */
.live-block {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;

    height: 30px;
    width: 340px;
    padding: 0 12px;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 12px;
}

/* 桌面预览组件 - 背景 */
.desktop-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    height: 26px;
    min-width: 180px;
    padding: 0 2px;
    
    background: rgba(100, 100, 100, 0.4);
    border-radius: 12px;
}

/* 时钟小组件 - 背景 */
.time-tools {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;

    height: 30px;
    width: 340px;
    padding: 0 12px;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 12px;
}

/* 状态栏分组 - 右 */
.right-group {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;

    margin-left: auto;
}