/* 清除默认边距，加入桌布 */
body {
    background-image: url("../images/RollingWaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10px);
    min-width: calc(100vw - 10px);
    margin: 5px;
    gap: 5px;

    font-family: ui-sans-serif, system-ui;
}


/* 状态栏外框 */
.statusbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    padding: 0 10px;
    gap: 8px;

    height: 40px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.85);

    cursor: default;
}

/* 状态栏分组 - 左 */
.left-group {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-right: auto;
}


/* 状态栏内小星星 */
.star {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    margin-left: 7px;
    z-index: 1;

    color: #FFF;
    font-size: 30px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;

    transition: background 0.2s ease;
}

.star:hover {
    background: rgba(100, 100, 100, 0.3);
}


/* 状态栏左上角两行字 */
.left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 4px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
}

.left-info .line1 {
    font-size: 10px;
    opacity: 0.75;
}

.left-info .line2 {
    font-size: 15px;
    font-weight: 400;
}

/* 状态栏分组 - 中 */
.center-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 6px;
}

/* 实时数据组件 - 背景 */
.live-block {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;

    height: 30px;
    width: 340px;
    flex-shrink: 0;  
    padding: 0 8px;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 12px;
}

/* 系统项目容器 */
.system-items {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 4px;
}

/* 系统讯息图标 */
.system-items img {
    width: 15px;
    height: 15px;

    border-radius: 50%;
    /* 圆饼背景 */
    background: conic-gradient(
        rgba(230, 230, 240, 0.9) calc(var(--value) * 1%),
        rgba(200, 200, 210, 0.4) 0
    );
    padding: 3px;
}

/* 图表后文字 */
.system-items span {
    width: 24px;
    font-size: 14px;
    text-align: center;
    color: rgba(200, 200, 210, 0.9);
}

/* 音乐媒体容器 */
.media-items {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    align-items: center;
    gap: 4px;

    cursor: pointer;
}

/* 音乐媒体图标 */
.media-items img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
    padding: 3px;
    /* 圆饼背景 */
    background: conic-gradient(
        rgba(230, 230, 240, 0.9) calc(var(--value) * 1%),
        rgba(200, 200, 210, 0.4) 0
    );
}

/* 音乐媒体后文字 */
.media-items span {
    flex: 1 1 auto;
    min-width: 0;
    margin-left: 4px;
    align-items: center;

    font-size: 14.5px;
    color: rgba(200, 200, 210, 0.9);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 桌面预览组件 - 背景 */
.desktop-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    height: 26px;
    min-width: 0px;
    padding: 0 2px;
    
    background: rgba(100, 100, 100, 0.4);
    border-radius: 12px;
}

/* 桌面预览图标 */
.desktop-preview a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;

    border-radius: 50%;
    border: none;
    background: transparent;
    
    padding: 3px;

    cursor: pointer;
}

.desktop-preview a[active="yes"] {
    cursor: default;
    background: rgba(230, 230, 240, 0.9);
}

.desktop-preview a img {
    width: 16px;
    height: 16px;
}

/* 时钟小组件 - 背景 */
.time-tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    height: 30px;
    width: 340px;
    flex-shrink: 0;  
    padding: 0 12px;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 12px;
}

.clock-text {
    flex: 1;
    text-align: center;

    color: rgba(230, 230, 240, 0.9);
    font-size: 15px;
    font-weight: 370;

    white-space: nowrap;
}

.clock-text span {
    font-size: 17px;
}

.time-tools img {
    position: relative;
    cursor: pointer;

    width: 16px;
    height: 16px;

    z-index: 1;

    border-radius: 50%;
    /* 圆饼背景 */
    background: rgba(100, 100, 100, 0);
    padding: 4px;

    transition: backgroung 0.2s ease;
}

.time-tools img:hover {
    background: rgba(100, 100, 100, 0.3);
}

.tool-battery {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    background: rgba(230, 230, 240, 0.9);
    color: #000;
    
    padding: 2px 3px; 
    font-weight: 500;

    border-radius: 20px;
}


/* 状态栏分组 - 右 */
.right-group {
    display: flex;
    align-items: center;

    margin-right: 8px;
}

/* 键盘图示 */
.keyboard {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

/* 右邊膠囊容器 */
.system-ctl {
    display:flex;
    align-items:center;
              
    height: 25px;

    gap:14px;                     
    padding:4px 12px;
    background:rgba(100, 100, 100, 0);
    border-radius:20px;

    transition: background 0.2s ease;
}

.system-ctl:hover {
    background: rgba(100, 100, 100, 0.3);
}

.system-ctl img {
    width: 18px;
    height: 18px;
}


/* 主界面布局16*16个位置 */
.main-layout{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    flex: 1 1 auto; 
    gap: 5px;
}

/* 套用布局变数 */
.panel {
    display: flex;
    grid-column: var(--col) / span var(--w, 3);
    grid-row:    var(--row) / span var(--h, 1);

    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(6px);

    padding: 2px;
    overflow: hidden; 

    transition: border-color 0.25s ease;
}

.panel:hover {
    border-color: rgba(255,255,255,0.3);
}


/* 浏览器 */
.browser{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
    padding: 2px;
}


/* 浏览器 - 页面选择*/
.tab-bar{
    display: flex;
    align-items: center;

    height: 32px;
    gap: 6px;
    margin: 2px 2px 4px 2px;
}

.tab-bar .tab-menu {
    height: 32px;
    width: 32px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;

    color: rgb(230, 230, 230);
    font-size: 14px;

    transition: background 0.2s ease;
}

.tab-bar .tab-menu:hover {
    background: rgba(255, 255, 255, 0.2);
}

.tab-bar .tab {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 6px 6px;
    height: 32px;
    width: 200px;
    margin: 4px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;

    color: rgb(230, 230, 230);
    font-size: 14px;
}

.tab-bar .tab:hover {
    background: rgba(255, 255, 255, 0.2);
}

.tab-bar .tab .tab-img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.tab-bar .tab .tab-title {
    flex: 1;
    text-align: left;
    
    white-space: nowrap;
    overflow: hidden;
    mask-image: linear-gradient(to right, white 80%, transparent 100%);
}

.tab-bar .tab .tab-close {
    width: 16px;
    height: 16px;

    margin-left: auto;
    font-size: 16px;

    background: transparent;
    border: none;
    border-radius: 50%;

    transition: background 0.2s ease;
}

.tab-bar .tab .tab-close:hover {
    background: rgba(255,255,255,0.1);
}

.tab-bar .tab-close-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    height: 30px;
    width: 30px;

    background: transparent;
    border: none;
    border-radius: 50%;

    color: rgb(230, 230, 230);
    font-size: 20px;

    transition: background 0.2s ease;
}

.tab-bar .tab-close-all:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* 整个搜索工具列 */
.search-bar{
    display: flex;
    align-items: center;
    
    height: 35px;
    padding: 4px 4px;
    margin-top: 4px;
    gap: 8px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: rgba(255, 255, 255, 0.1);

}

/* 左右侧图标按钮 */
.icon-btn{
    display:grid;
    place-items:center;

    width: 32px;
    height: 32px;

    border:none;
    border-radius: 50%;
    background:transparent;

    color:rgba(240, 240, 240, 0.9);
    font-size:14px;
    font-weight: 800;

    transition:background .2s ease;
}

.icon-btn:hover{
    background:rgba(255, 255, 255, 0.1);
}

/* 输入框 */
.search-box{
    display: flex;
    flex: 1;
    align-items: center;
    gap:8px;

    height:32px;
    padding: 0 5px;

    background:rgba(220, 220, 220, 0.2);
    border-radius:16px;
}

.site-badge{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    font-size: 18px;

    border-radius:50%;
    background:rgba(255,255,255,.22);
    color:rgba(240, 240, 240, 0.9);

    cursor: default;
}

/* 输入框本体 */
.search-box input{
    flex: 1;
    min-width: 0;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;

    color: rgba(240, 240, 240, 0.9);
    font-size: 16px;
}

.bookmark{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 25px;
    height: 25px;
    
    background: transparent;
    border: none;
    border-radius: 50%;
    color: rgba(240, 240, 240, 0.9);
    font-size: 18px;
    font-weight: 800;

    cursor: default;

    transition:background .2s ease;
}

.bookmark:hover{
    background: rgba(255, 255, 255, 0.1);
}

/* 分隔线 */
.sep{
    width: 2px;
    height: 20px;
    background:rgba(255, 255, 255, 0.2);
}

/* 头像 */
.search-bar .avatar {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    padding: 5px;

    background: rgba(255, 255, 255, 0.1);
    transition: background 0.2s ease;
}

.search-bar .avatar:hover {
    background: rgba(255, 255, 255, 0.3);
}


/* 浏览器主页面 */
.browser-body{
    display:flex;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
  
}

/* 左侧工具列外观 */
.left-bar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    width: 40px;
    padding: 5px;

    gap:5px;
    bottom: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(255,255,255, 0.1);
    
    flex-grow: 0;  
    flex-shrink: 0;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    
    transition: width 0.25s ease;
}

.left-bar:hover {
    width: 250px;
}


/* 按钮外观 */
.left-bar button {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 40px;

    border: none;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;

    transition: background .2s ease;
}

.left-bar button img {
    width: 18px;
    height: 18px;
}

.left-bar button span {
    flex: 1;
    white-space: nowrap; 
    overflow: hidden;     

    font-size: 14px;
    text-align: start;
    color: rgb(230, 230, 230);
    mask-image: linear-gradient(to right, white 80%, transparent 100%);
}

.left-bar button:hover{
    background: rgba(255,255,255,0.18);
}


.left-bar .left-bar-end {
    margin-top: auto;
    height: 50px; 
    padding: 5px;
    gap: 0px;
}

.left-bar .left-bar-end img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;   
    
    background: rgba(255, 255, 255 ,0.2);
}

.left-bar .left-bar-end span {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.page-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 20px;

    color: rgba(230, 230, 230, 0.9);
}

.page-content h1 {
    text-align: center;
    padding: 20px;
}

.page-content h2 {
    text-align: center;
}

.page-content p {
    text-align: left;
    font-size: large;
    padding: 0 15% 0 15%;
}


.page-content .profile {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}


.profile .whole-img {
    width: 500px;
    aspect-ratio: 1/1;
    margin: 10px;
    background:rgba(0, 0, 0, 0.3);
    border:1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(6px);

    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

/* 原始圖片 */
.profile .inside-img {
    object-fit: cover;
    display: block;
}

/* 第二張圖片（覆蓋用） */
.profile .cover-img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.6s ease;
}


.whole-img .name-text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 32px;
    bottom: 15%;  
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    pointer-events: none;
    opacity: 0;

    transition: opacity 0.2s ease;
}

map[name="image-map"] area {
    cursor: help;
}

.curriculum {
    align-self: center;
}

.curriculum .controls {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.curriculum button, .curriculum input[type="color"] {
    height: 32px;
    padding: 0 14px;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 12px;

    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    font-weight: 500;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
}

.curriculum table.stylable {
    width: 300px;
    border-collapse: separate;  
    border-spacing: 4px;
    border: 2px solid #333; 
}

.curriculum table.stylable th, table.stylable td {
    border: 1px solid #555;
    padding: 6px 10px;
    text-align: center;
}

.curriculum table.stylable thead th {
    background: rgba(242, 242, 242, 0.4); 
}

.curriculum button:hover, .curriculum input[type="color"]:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}


/* 毛玻璃卡片 */
.player-card {
    width: 100%;
    padding: 30px;
    margin: 50px;

    border-radius: 22px;

    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(18px) saturate(150%);
    -webkit-backdrop-filter: blur(18px) saturate(150%);

    box-shadow: 0 8px 24px rgba(0,0,0,0.35);
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 18px;

}


/* 封面 */
.player-card .cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 18px;
    display: block;
}

/* 进度条 */
.progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}


.time {
    font-size: 12px;
    opacity: 0.8;
}
.progress input[type="range"] {
    flex: 1;
}

/* 控制按钮（毛玻璃） */
.btn.icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.15);

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: grid;
    place-items: center;
    cursor: pointer;

    transition: background .2s, transform .15s;
}
.btn.icon:hover {
    background: rgba(255,255,255,0.2);
    transform: translateY(-2px);
}

.player-card .controls {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.btn.primary {
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0.18);
    border: 1px solid rgba(255,255,255,0.25);
}

/* SVG icon */
.btn svg {
    width: 26px;
    height: 26px;
    fill: #fff;
    opacity: 0.95;
}


#myCanvas {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

