/* 清除默认边距，加入桌布 */
body {
  margin: 0;
  background-image: url("../images/RollingWaves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}


/* 状态栏外框 */
.statusbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    padding: 0 18px;
    gap: 8px;

    height: 40px;
    margin: 5px 5px 0px 5px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.85);

    cursor: default;
    font-family: ui-sans-serif, system-ui;
}

/* 状态栏分组 - 左 */
.left-group {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-right: auto;
}


/* 状态栏内小星星 */
.star {
    position: relative;
    cursor: pointer;

    margin-left: 7px;
    z-index: 1;

    color: #FFF;
    font-size: 30px;
}

.star::after {
    content: "";
    position: absolute;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(100, 100, 100, 0.3);
    z-index: -1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0;
    transition: opacity 0.2s ease;
}

.star:hover::after {
    opacity: 1;
}


/* 状态栏左上角两行字 */
.left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
}

.left-info .line1 {
    font-size: 10px;
    opacity: 0.75;
}

.left-info .line2 {
    font-size: 15px;
    font-weight: 400;
}

/* 状态栏分组 - 中 */
.center-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 6px;
}

/* 实时数据组件 - 背景 */
.live-block {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;

    height: 30px;
    width: 340px;
    flex-shrink: 0;  
    padding: 0 8px;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 12px;
}

/* 系统项目容器 */
.system-items {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 4px;
}

/* 系统讯息图标 */
.system-items img {
    width: 15px;
    height: 15px;

    border-radius: 50%;
    /* 圆饼背景 */
    background: conic-gradient(
        rgba(230, 230, 240, 0.9) calc(var(--value) * 1%),
        rgba(200, 200, 210, 0.4) 0
    );
    padding: 3px;
}

/* 图表后文字 */
.system-items span {
    width: 24px;
    font-size: 14px;
    text-align: center;
    color: rgba(200, 200, 210, 0.9);
}

/* 音乐媒体容器 */
.media-items {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    align-items: center;
    gap: 4px;

    cursor: pointer;
}

/* 音乐媒体图标 */
.media-items img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
    padding: 3px;
    /* 圆饼背景 */
    background: conic-gradient(
        rgba(230, 230, 240, 0.9) calc(var(--value) * 1%),
        rgba(200, 200, 210, 0.4) 0
    );
}

/* 音乐媒体后文字 */
.media-items span {
    flex: 1 1 auto;
    min-width: 0;
    margin-left: 4px;
    align-items: center;

    font-size: 14.5px;
    color: rgba(200, 200, 210, 0.9);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* 桌面预览组件 - 背景 */
.desktop-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    height: 26px;
    min-width: 0px;
    padding: 0 4px;
    
    background: rgba(100, 100, 100, 0.4);
    border-radius: 12px;
}

/* 桌面预览图标 */
.desktop-preview img {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    
    padding: 3px;

    cursor: pointer;
}

.desktop-preview img[active="on"] {
    cursor: default;
    background: rgba(230, 230, 240, 0.9);
}



/* 时钟小组件 - 背景 */
.time-tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    height: 30px;
    width: 340px;
    flex-shrink: 0;  
    padding: 0 12px;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 12px;
}

.clock-text {
    flex: 1;
    text-align: center;

    color: rgba(230, 230, 240, 0.9);
    font-size: 15px;
    font-weight: 370;

    white-space: nowrap;
}

.clock-text span {
    font-size: 17px;
}

.time-tools img {
    position: relative;
    cursor: pointer;

    width: 16px;
    height: 16px;

    z-index: 1;

    border-radius: 50%;
    /* 圆饼背景 */
    background: rgba(100, 100, 100, 0);
    padding: 4px;

    transition: backgroung 0.2s ease;
}

.time-tools img:hover {
    background: rgba(100, 100, 100, 0.3);
}

.tool-battery {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    background: rgba(230, 230, 240, 0.9);
    color: #000;
    
    padding: 2px 3px; 
    font-weight: 500;

    border-radius: 20px;
}


/* 状态栏分组 - 右 */
.right-group {
    display: flex;
    align-items: center;

    margin-left: auto;
}

/* 键盘图示 */
.keyboard {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

/* 右邊膠囊容器 */
.system-ctl {
  display:flex;
  align-items:center;
  gap:14px;                     
  padding:4px 12px;            
  height: 25px;
  background:rgba(100, 100, 100, 0);
  border-radius:20px;

  transition: background 0.2s ease;
}

.system-ctl:hover {
    background: rgba(100, 100, 100, 0.3);
}

.system-ctl img {
    width: 18px;
    height: 18px;
}


/* 主界面布局16*16个位置 */
.main-layout{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    min-height: calc(100vh - 55px);
    gap: 5px;
    padding: 5px;
}

/* 套用布局变数 */
.panel {
    grid-column: var(--col) / span var(--w, 3);
    grid-row:    var(--row) / span var(--h, 1);

    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(6px);

    padding: 2px;

    transition: border-color 0.25s ease;
}

.panel:hover {
    border-color: rgba(255,255,255,0.3);
}